body{
    background-color: color-mix(in srgb-linear,blue 30, green 40 violet 30);
}

div{
    display: block;
    align-items: center;
    background-color: aqua;
}
button{
   background-color: white;
   border-style: solid;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   font-size: 18px;
   margin: 6px 4px;
   cursor: pointer;
   height: 30px;
   width:auto
   
}
@media (max-width:760px) {
    button{
        width: 50%;
    }
}
